* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #191919;
    cursor: none;
}

header {
    background-color: #191919;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 20px;
}

nav ul li {
    margin: 0 35px;
    padding: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    text-decoration: none;
    scale: 1;
    color: #26c7ff;
    border-radius: 5px;
    list-style: none;
}

.intro {
    margin-top: 340px;
    margin-bottom: 240px;
}

.intro h1 {
    font-size: 4em;
    margin: 20px 0;
}

.intro p {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.svg-container {
    margin-bottom: 150px;
}

section {
    padding: 40px 20px;
}

#about {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

#about img {
    height: 190px;
    margin-top: 20px;
    margin-right: 70px;
    border-radius: 50%;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

footer {
    background-color: #222020;
    color: #555555;
    padding: 2px;
    text-align: center;
}

footer p {
    font-size: 1em;
    margin: 0;
}

#animated-text {
    font-size: 1.5em;
    color: #fff;
    display: inline;       /* Alinea el texto y el cursor */
}

.typed-cursor {
    font-size: 1.5em;      /* Alinea el tamaño del cursor con el texto */
    color: #fff;           /* Asegúrate de que el color del cursor coincida */
}

/*CURSOR*/
.custom-cursor {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.4s ease;
}

.custom-cursor.enlarged {
    transform: scale(6);
    background-color: #ffffff; /* Cambia el color cuando está agrandado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra cuando está agrandado */
}

/*.enlarged {*/
/*    transform: scale(3);*/
/*}*/

#work {
    padding-top: 100px;
    background-color: #191919;
    color: #fff;
    text-align: center;
}

#section_work {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
    align-content: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding-bottom: 100px;
    margin-top: 80px;
}

.work_container {
    width: 300px;
    height: 300px;
    position: relative; /* Necesario para posicionar el título */
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.work_container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen se ajuste al tamaño del contenedor */
    border-radius: 15px; /* Asegura que las imágenes también sean redondeadas */
    transition: transform 0.3s ease-in-out;
}

.work_container:hover img {
    transform: scale(1.1); /* Efecto de zoom en la imagen al pasar el ratón */
}

.work_title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
    color: #fff;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 15px; /* Mantiene los bordes redondeados */
}

.work_container:hover .work_title {
    opacity: 1; /* Muestra el título al pasar el ratón */
}



/* Estilo del modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Posición fija para que aparezca sobre todo */
    z-index: 1000; /* Asegúrate de que el modal esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente oscuro */
    align-items: center;
    justify-content: center;
}

/* Estilo del contenido del modal */
.modal_content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative; /* Para posicionar el botón de cerrar dentro */
    text-align: center;
}

.close {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    z-index: 1001; /* Asegúrate de que esté por encima del contenido */
}

.close:hover,
.close:focus {
    color: #811010;
}


/* Estilos del carrusel */
.carousel {
    position: relative;
    width: 90%;
    margin: 20px auto;
}

.carousel_images {
    display: flex;
    overflow: hidden;
    height: 600px;
    justify-content: center; /* Centrar las imágenes */
    align-items: center;
}

.carousel_image {
    height: 100%;
    width: auto;
    display: none; /* Solo se muestra una imagen a la vez */
}

.carousel_image.active {
    display: block;
}

.carousel-inner img {
    width: 100%;        /* El ancho se ajusta al contenedor */
    height: auto;       /* La altura se ajusta de manera proporcional */
    max-height: 70vh;   /* Altura máxima dinámica (puedes ajustarlo como prefieras) */
    object-fit: contain;
}

#modal4 .carousel-control-prev-icon,
#modal4 .carousel-control-next-icon {
    background-color: black; /* Cambia el color de las flechas a negro o cualquier color que prefieras */
    border-radius: 15px;
}



#skills {
    padding-top: 100px;
    background-color: #ffffff;
    color: #191919;
    text-align: center;
}

#section_skills {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 70%;
    align-content: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

#skills h2 {
    padding-bottom: 80px;
}

.skills_container {
    width: 60px; /* Ajusta el tamaño según lo que necesites */
    height: 60px; /* El mismo valor que el ancho para mantener la forma cuadrada */
    border-radius: 20%; /* Ajusta el radio para redondear los bordes */ /* Color de fondo (opcional) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad (opcional) */
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}


.skills_container:hover {
    transform: scale(1.2); /* Aumenta el tamaño al pasar el ratón */
    background-color: #e0e0e0; /* Cambia ligeramente el color de fondo */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra */
}

.skills_container img {
    display: flex;
    overflow: hidden;
    height: 60px;
    justify-content: center; /* Centrar las imágenes */
    align-items: center;
}


#contact {
    padding-top: 100px;
    background-color: #222020;
    color: #ffffff;
    text-align: center;
    padding-bottom: 100px;

}

#contact h2 {
    padding-bottom: 80px;
}


/* Botón de descarga */
#about a button {
    padding: 12px 30px;
    font-size: 1.1em;
    background-color: #2b2b2b;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about a button:hover {
    background-color: #0083b3;
    transform: translateY(-2px);
}

#about a button:active {
    transform: translateY(1px);
}